.title{
    text-transform: uppercase;
    font-size: 2rem;
    color: green;
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: 2px;
    span{
        position: absolute;
        top: 40%;
        left: 0;
        font-size: 3.5rem;
        opacity: 0.07;
        color: rgb(0, 255, 0);
        @media screen and (max-width: 900px){
            
        }
    }
}